# Virtual Environment
venv/
django_app/venv/

# Local Files / Logs
.DS_Store
__pycache__/
*.pyc
*.log
db.sqlite3

# Terraform & Infrastructure
.terraform/
*.tfstate
*.tfstate.backup

# Large local folders
**/staticfiles_collected/