# Ignore Terraform executable
terraform/terraform.exe
terraform.exe

# Ignore Terraform provider plugins downloaded by init
terraform/.terraform/
.terraform/

# Ignore specific large files just in case
*.exe
